body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

@import "./_app.css";
@import "./_header.css";
@import "./_basket.css";
@import "./_menu.css";
@import "./_search.css";
@import "./_content.css";
@import "./_main.css";
@import "./_robots.css";
@import "./_robot-item.css";
@import "./_footer.css";
@import "./_contacts.css";



